.skill {
  margin: 5px;
}

.skill-large {
  margin: 10px;
}

.skill .skill-icon .icon-large {
  height: 100px;
  width: 100px;
}

.skill .skill-icon .icon {
  height: 75px;
  width: 75px;
}

.skill .label {
  margin-top: 15px;
}

.skill .sub-label {
  margin-top: 20px;
}