@media(min-width: 767px) {
    .projects-text {
        text-align: left;
        padding: 20px 80px;
    }
}

@media(max-width: 768px) {
    .projects-text {
        text-align: left;
        padding: 20px 40px;
    }
}

.projects-image-div {
    width: 100%;
}

.projects-image {
    max-width: 80vw;
    min-height: 80%;
    display: block;
    margin: 15px auto;
}

.link-list li {
    list-style: none;
    padding-left: 20px;
}