.navigation-item .navigation-text {
    background-color: white;
    font-family: handwriting;
    padding: 15px;
}

.navigation-item .navigation-text h4 {
    font-size: 1.75em;
}

.navigation-item .navigation-link {
    cursor: pointer;
}

.navigation-item .navigation-text:hover {
    background-color: lightgray;
}

.navigation-item .navigation-text h3 {
    margin: 0;
}
