.navigation-item .navigation-text {
    background-color: white;
    font-family: handwriting;
    padding: 15px;
}

.navigation-item .navigation-text h4 {
    font-size: 1.75em;
}

.navigation-item .navigation-link {
    cursor: pointer;
}

@media(hover) {
    .navigation-item .navigation-text:hover{
        background-color: #EFD9E2;
        color: #8B6773;
    }
}

.navigation-item .navigation-text h3 {
    margin: 0;
}
