.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

.section-title {
    position: relative;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-title-text {
    margin-left: 50px;
}

.section-title .title-decoration {
    right: 50px;
}

.section-title .title-decoration-image {
    height: 35px;
    width: 35px;
    opacity: .25;
}
  
.section-title-hr {
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

@media(max-width: 767px) {
    .anchor {
        top: -75px;
    }
}