.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

.section-title {
    padding-left: 50px;
    text-align: left;
}
  
.section-title-hr {
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}