.skills .skill-row {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  flex-flow: row wrap; 
  padding-bottom: 25px;
}

.skills .skills-tools .skill-row .skill{
  flex: 0 0 20%;
}

.skills .skill-row .skill{
  flex: 0 0 33%;
}

.skills .skills-section {
  padding-top: 20px 10px 20px 10px;
  
}
