.work-experience {
  margin: 10px 0;
}

.work-experience .date .date-description, .work-experience .date .date-time {
  display: inline-block;
  white-space: nowrap;
}

.work-experience .date .date-description {
  width: 45%;
}

.work-experience .date .date-time {
  width: 45%;
}

.work-experience .date .date-description {
  text-align: right;
}

.work-experience .date .date-time {
  text-align: left;
}

.work-experience .date .date-separator {
  margin: 2px 10px;
  display: inline-block;
} 

@media(max-width: 767px) {
  .work-experience .date .date-description {
    width: 100%;
  }
  
  .work-experience .date .date-time {
    width: 100%;
  }
  
  .work-experience .date .date-description, .work-experience .date .date-time {
    text-align: center;
  }
  
  .work-experience .date .date-separator {
    display: none;
  } 
}