.contacts {
    display: flex;
    justify-content: center;
}

.contact-image-div {
    height: 100%;
    margin: 10px;
}

@media (min-width: 767px) {
    .contact-image {
        height: 100%;
        max-width: 250px;
        max-height: 250px;
        padding: 15px;
        margin: 50px;
    }
}
@media (max-width: 768px) {
    .contact-image {
        height: 100%;
        max-width: 75px;
        max-height: 75px;
        padding: 15px;
        margin: 20px;
    }
}

h4 {
    color: black;
}

h4:hover{
    text-decoration: none;
}