.app {
  position: relative;
  display: flex;
  text-align: center;
  background-image: url('Assets/background.png');
  padding-bottom: 100px;
  padding-top: 20px;
  min-height: 100vh;
}

.app .main-content {
  flex: 0 0 60%;
  margin-left: 33%;
  margin-right: 5%;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media(max-width: 1200px) {
  .app .main-content{
    margin-right: 2%;
  }
}

@media(max-width: 767px) {
  .app .main-content {
    flex: 0 0 80%;
    margin-left: 10%;
  }
}

.app .main-content .body{
  height: 400px;
}

.app .main-content .top-banner {
  padding-bottom: 30px;
}

.app .main-content .bottom-banner {
  padding-top: 30px;
}

hr {
  margin: 0;
  color: rgba(33, 37, 41, .1);
  border-color: rgba(33, 37, 41, .1);
  background-color: rgba(33, 37, 41, .1);
}
