@font-face {
  font-family: handwriting;
  src: url('./Assets/handwriting.ttf');
}

.app {
  position: relative;
  text-align: center;
  background-color: #F085A2;
  padding-bottom: 100px;
  padding-top: 0;
  min-height: 100vh;
}

.app .main-content {
  margin-left: 420px;
  margin-right: 80px;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px;
}

.app .main-content .body {
  margin: 0 25px 16px 25px;
  border-right: 1px solid rgba(33, 37, 41, .1);
  border-left: 1px solid rgba(33, 37, 41, .1);
  padding: 30px 10px;
}

.app .side-nav {
  margin-left: 80px;
}

.app .mobile-contact-info .contact-info {
  display: none;
}

.app .nav-bar {
  display: none;
}

.app .main-content .top-banner {
  padding-bottom: 30px;
}

.app .main-content .bottom-banner {
  padding-top: 30px;
}

ul {
  list-style-type: circle;
}

hr {
  margin: 0;
  color: rgba(33, 37, 41, .1);
  border-color: rgba(33, 37, 41, .1);
  background-color: rgba(33, 37, 41, .1);
}

a {
  color: #86606C;
}

a:hover {
  color: #B53743;
  cursor: pointer;
}

.vertical-align {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.copyright {
  color: white;
}

.app .mobile-copyright .copyright {
  display: none;
}

p, li {
  color: #70666A;
}

/* ultra-wide monitor handling */
@media(min-width: 2500px) {
  .app .main-content {
    margin-right: 500px;
    margin-left: 800px; 
  }

  .app .main-content .body {
    padding: 50px 150px;
    margin: 0 50px;
  }

  .app .side-nav {
    margin-left: 500px;
  }

}

/* Tablet */
@media(max-width: 1130px) {
  .app .main-content {
    margin-right: 20px;
    margin-left: 280px;
  }

  .app .side-nav {
      margin-left: 10px;
  }
  
}

/* Mobile */
@media(max-width: 767px) {
  .app {
    padding-top: 100px;
  }
  
  .app .main-content {
    margin: 0 15px;
    box-shadow: none;
    border-radius: 10px;
  }

  .app .main-content .body {
    padding: 25px 10px;
  }

  .app .side-nav {
      display: none;
  } 
  
  .app .nav-bar {
    display: block;
  }

  .app .mobile-copyright .copyright{
    display: block;
  }

  .app .mobile-contact-info .contact-info {
    display: block;
  }
}
