.app {
  position: relative;
  text-align: center;
  background-image: url('Assets/background.png');
  padding-bottom: 100px;
  padding-top: 0;
  min-height: 100vh;
}

.app .main-content {
  margin-left: 350px;
  margin-right: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
}

@media(max-width: 997px) {
  .app .main-content {
    margin-right: 25px;
    margin-left: 275px;
  }
}

@media(max-width: 767px) {
  .app .main-content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.app .main-content .body{
  height: 400px;
}

.app .main-content .top-banner {
  padding-bottom: 30px;
}

.app .main-content .bottom-banner {
  padding-top: 30px;
}

hr {
  margin: 0;
  color: rgba(33, 37, 41, .1);
  border-color: rgba(33, 37, 41, .1);
  background-color: rgba(33, 37, 41, .1);
}

.vertical-align {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
